<mat-toolbar>  
      
    <div>
        <!-- <img src="../../../../assets/image/CompanyLogo_75px.jpg" matTooltip="Home / Default view" class="branding" alt="Logo">
        &nbsp; -->
        <img src="../../../../assets/image/LostVoteImg.jpg" matTooltip="Home / Default view" class="branding" alt="Logo">        
    </div>
</mat-toolbar>
<mat-toolbar class="custom-toolbar">    
    <div class="disclaimer-text">        
        <span style="color: white; text-align: center;">Disclaimer | Terms and Conditions | Privacy policy</span>
        <br><br>
        <a href="../../../../assets/docs/helpdoc.docx" style="color: white; padding-left: 90px;" 
        target="_blank">Help ?</a>
        &nbsp;&nbsp;<a href="https://www.youtube.com/watch?v=8GJft0CNaTI" style="color: white;" 
        target="_blank">Video help ?</a>    
    </div>    
      
</mat-toolbar>
