<mat-toolbar>    
    <div>
        <img src="../../../../assets/image/CompanyLogo_75px.jpg" matTooltip="Home / Default view" class="branding" alt="Logo">
        &nbsp;
        <img src="../../../../assets/image/lostVote.jpg" matTooltip="Home / Default view" class="branding" alt="Logo">        
    </div>
</mat-toolbar>
<mat-toolbar class="custom-toolbar">    
    <div class="disclaimer-text">        
        <span style="color: white; text-align: center;">Disclaimer | Terms and Conditions | Privacy policy</span>      
    </div>    
</mat-toolbar>
