<div style="height: 55vh;">
    <div class="form_container">
        <form>
           <header style="text-align: center;">Scan your fingerprints</header>
           <div style="padding-top: 10px; padding-left: 200px;">
                <img src="../../../assets/image/FPReader.jpg" matTooltip="Home / Default view" class="branding" alt="finger print">
                <img src="../../../assets/image/fingerprintarea.png" matTooltip="Home / Default view" class="branding" alt="finger print">
           </div>
           <div>
                <button value="FingerPrint" (click)="toQRCodeScan()">Next</button>
           </div>          
        </form>
     </div>
    </div>