<div style="height: 55vh;">
    <div class="form_container">
        <form>
           <header style="text-align: center;">E-vote recored successfully</header>
            <p class="paragraphStyles">Be proud for making our nation strong ! You are the true hero.</p>
            <p class="paragraphStyles">Have a good day.</p>
            <p class="paragraphStyles">Thank you !</p>   
            
            <button value="Login" (click)="backtoLogin()">Home</button>
        </form>
     </div>
    </div>
