<!-- <div style="height: 80vh;">
    <div class="form_container">
        <p>Welcome to iVoteIndia, You have successfully logged in</p>
        <p>There are no acitve polling in progress !, We will notify if any envents are upcoming</p>
        <p>If any profile updates : Update Details by clicking the link below</p>
     </div>
    </div> -->

    <div style="height: 55vh;">
        <div class="form_container">
            <form>
               <header style="text-align: center;">Welcome to iVoteIndia, online e-voting portal</header>
                <p class="paragraphStyles">You have successfully logged in to e-voting portal</p>
                <p class="paragraphStyles">No any active polling in your profile</p>
                <p class="paragraphStyles">Click link below for profile updates</p>
                <br>
                <a [routerLink]="['/updateprofile']" style="align-items: center; padding-left: 375px;">Click here to update</a>
                <br><br>
                <a [routerLink]="['/eballot']" style="align-items: center; padding-left: 375px;">Click to vote</a>
            </form>
         </div>
        </div>
