<div style="height: 50vh;">
    <div class="form_container">
        <form>
           <header>Reset forgot userid or password</header>
               <label style="font-size: 15px; font-weight: bold;">Registered Email ID</label>
               <input type="text" name="uname" formControlName="uname"/>

               <label style="font-size: 15px; font-weight: bold;">Registered Phone Number</label>
               <input type="text" name="uname" formControlName="uname"/>

           <button value="Login" (click)="resetConfirmation()">Submit</button>
          
        </form>
        
     </div>    
    </div>
