<div style="height: 55vh;">
    <div class="form_container">
        <form style="height: 70vh;">
           <header style="text-align: center;"></header>
           <div style="padding-left: 200px;">            
                <img src="../../../assets/image/idCardTemplate.jpg" matTooltip="Home / Default view" class="branding" alt="Logo">        
            </div> 
            <div>
                <button value="Home" (click)="toHome()" >Back</button>
            </div>           
        </form>
     </div>
    </div>
