<div style="height: 55vh;">
    <div class="form_container">
        <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
           <header>Login</header>
           <label style="font-size: 20px; font-weight: bold;">Username <span>*</span></label>
           <input type="text" name="uname" formControlName="uname"/>
           
           <div class="help">At least 6 character</div>
           <label style="font-size: 20px; font-weight: bold;">Password <span>*</span></label>
           <input type="password" class="fortextbox" name="passwd" formControlName="passwd"/>
           
           <div class="help">Use upper and lowercase lettes as well</div>
           <button [disabled]="!formdata.valid" value="Login">Login</button>
          
        </form>
        
     </div>
     <div class="form_register">
      <a [routerLink]="['/registration']" style="align-items: center;">New User? Click to register</a>
      <br><br>
      <a [routerLink]="['/resetcredentials']" style="align-items: center;">Forgot your userid or password?</a>
     </div>
    </div>
