<!-- <mat-toolbar class="custom-toolbar">
    <div class="header-caption">
        <span style="color: white;" class="header-text">e-Voting Portal - iVoteIndia               
        </span>
    </div>
</mat-toolbar> -->


<mat-toolbar id="topNav" fxLayout="column" fxFlex>
    <mat-toolbar-row id="navBar" fxLayout="row" fxFlex>
      <div id="text" fxLayout="column" style="display: inline-block; padding-left: 10px;">
        <h1 style="padding-left: 500px;">e-Voting Portal - iVoteIndia</h1>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>