<div style="height: 55vh;">
    <div class="form_container">
        <form>
           <header style="text-align: center;">Your e-voting has been ended</header>
            <p class="paragraphStyles">Your last polling date {{today | date:'h:mm a z'}}</p>
            <p class="paragraphStyles">Have a good day.</p>
            <p class="paragraphStyles">For security reasons, please logout from your application</p>
            <p class="paragraphStyles">Thank you !</p>   
            
            <!-- <button value="Login" (click)="backtoLogin()">Close</button> -->
        </form>
     </div>
    </div>
