<div style="height: 55vh;">
    <div class="form_container">
        <form>
           <header style="text-align: center;">Registration captured successfully</header>
            <p class="paragraphStyles">Reference number : 344786</p>
            <p class="paragraphStyles">You will be notified via registered mobile number and email once your data is successfully validated.</p>
            <p class="paragraphStyles">Thank you !</p>   
            
            <button value="Login" (click)="backtoHome()">Home</button>
        </form>
     </div>
    </div>
