<div style="height: 90vh;">
    <div class="form_container">
        <form>
           <header>Update your profile</header>

           <div class="row">
            <div class="column">
               <label style="font-size: 15px; font-weight: bold;">Name</label>
               <input type="text" name="uname" formControlName="uname"/>

               <label style="font-size: 15px; font-weight: bold;">Contact Number</label>
               <input type="text" name="uname" formControlName="uname"/>

               <label style="font-size: 15px; font-weight: bold;">Address</label>
               <input type="text" name="uname" formControlName="uname"/>
           
               <label style="font-size: 15px; font-weight: bold;">Email</label>
               <input type="text" name="uname" formControlName="uname"/>

               <label style="font-size: 15px; font-weight: bold;">Upload documents</label>
               <input type="file" name="uname" formControlName="uname"/>
            </div>
            <div class="column">
               <label style="font-size: 15px; font-weight: bold;">Aadhar Number</label>
               <input type="text" name="uname" formControlName="uname"/>

               <label style="font-size: 15px; font-weight: bold;">Voter Id Number</label>
               <input type="text" name="uname" formControlName="uname"/>

               <label style="font-size: 15px; font-weight: bold;">Passport Number</label>
               <input type="text" name="uname" formControlName="uname"/>
           
               <label style="font-size: 15px; font-weight: bold;">Ration card number</label>
               <input type="text" name="uname" formControlName="uname"/>
            </div>
          </div>

           <div>
            <button value="Login" (click)="towelcome()">Back</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button value="Login" (click)="register()">Submit</button>
           </div>
           
          
        </form>
        
     </div>    
    </div>
