<div style="height: 55vh;">
    <div class="form_container">
        <form>
           <header style="text-align: center;">Scan your QR code</header>
           <div style="padding-left: 250px; padding-top: 20px;">

                <img src="../../../assets/image/qrcode.jpg" matTooltip="Home / Default view" class="branding" alt="Qr code">
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../assets/image/scanarea.png" matTooltip="Home / Default view" class="branding" alt="scan here">
           </div>
           <div>
            <button value="QRCode" (click)="toeVote()">Next</button>
           </div>     
        </form>
     </div>
    </div>